<div class="container">
	<form action="/zoos/new" method="POST">
		<input type="text" name="name" placeholder="Zoo Name">
		<input type="text" name="location" placeholder="Location">

		<input type="submit" value="Create Zoo">
	</form>

</div>